<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSMicrophoneUsageDescription</key>
    <string>Este app precisa utilizar o microfone para gravar o que voce fala</string>
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>Este app pede permissão para salvar o vídeo na sua biblioteca de fotos</string>
    <key>NSCameraUsageDescription</key>
    <string>Este app precisa utilizar a camera para detectar as poses que você faz</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>SplashView</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
